# **Karl pearson(r)&Spearman(R)**

In [2]:
import pandas as pd
import numpy as np

In [3]:
data={
    "height":[150,160,165,170,175,180,185],
    "weight":[50,55,60,65,70,75,80]
}
df=pd.DataFrame(data)

In [4]:
df.head()

   height  weight
0     150      50
1     160      55
2     165      60
3     170      65
4     175      70

In [5]:
correlation=df["height"].corr(df["weight"])
print(correlation)                                       #IN CORRELATION IT BY DEFAULT TAKE KALESPEARSON METHOD

0.9922858194799439

In [6]:
correlation=df["height"].corr(df["weight"],method="spearman")
print(correlation)         #for using spearman function we have to write method=spearman so the system will get that we want to use spearman formula

1.0

Find spearman(R)data

In [8]:
df["rank1"]= df["height"].rank()    #(r1-r2)
df["rank2"]= df["weight"].rank()
df.head()

   height  weight  rank1  rank2
0     150      50    1.0    1.0
1     160      55    2.0    2.0
2     165      60    3.0    3.0
3     170      65    4.0    4.0
4     175      70    5.0    5.0

In [9]:
df["D"]=df["rank1"]-df["rank2"]

In [10]:
df["D2"]=df["D"]**2
df.head()

   height  weight  rank1  rank2    D   D2
0     150      50    1.0    1.0  0.0  0.0
1     160      55    2.0    2.0  0.0  0.0
2     165      60    3.0    3.0  0.0  0.0
3     170      65    4.0    4.0  0.0  0.0
4     175      70    5.0    5.0  0.0  0.0

In [11]:
sum_d2=df["D2"].sum()
sum_d2

0.0

In [12]:
n=len(df)
n

7

In [13]:
R=1-((6*sum_d2)/((n**3)-n))
R

1.0

Karl pearson of data

In [15]:
data={
    "Height":[150,160,165,170,175,180,185,190],
    "Weight":[50,55,60,65,70,75,80,85]
}
df=pd.DataFrame(data)

In [16]:
n=len(df)
n

8

In [17]:
mean_height=df["Height"].sum()/n
mean_height

171.875

In [18]:
mean_weight=df["Weight"].sum()/n
mean_weight

67.5

In [19]:
df["x-xmean"]=(df["Height"]-mean_height)
df["x-xmean"]

0   -21.875
1   -11.875
2    -6.875
3    -1.875
4     3.125
5     8.125
6    13.125
7    18.125
Name: x-xmean, dtype: float64

In [20]:
df["y-ymean"]=(df["Weight"]-mean_weight)
df["y-ymean"]

0   -17.5
1   -12.5
2    -7.5
3    -2.5
4     2.5
5     7.5
6    12.5
7    17.5
Name: y-ymean, dtype: float64

In [21]:
df["xy"]=df["x-xmean"]*df["y-ymean"]
df["xy"]

0    382.8125
1    148.4375
2     51.5625
3      4.6875
4      7.8125
5     60.9375
6    164.0625
7    317.1875
Name: xy, dtype: float64

In [22]:
df["x2"]=df["x-xmean"]**2
df["x2"]

0    478.515625
1    141.015625
2     47.265625
3      3.515625
4      9.765625
5     66.015625
6    172.265625
7    328.515625
Name: x2, dtype: float64

In [23]:
df["y2"]=df["y-ymean"]**2
df["y2"]

0    306.25
1    156.25
2     56.25
3      6.25
4      6.25
5     56.25
6    156.25
7    306.25
Name: y2, dtype: float64

In [24]:
sum_x2=df["x2"].sum()
sum_x2

1246.875

In [25]:
sum_y2=df["y2"].sum()
sum_y2

1050.0

In [26]:
sum_xy=df["xy"].sum()
sum_xy

1137.5

In [27]:
r=sum_xy/(sum_x2*sum_y2)**(1/2)
r

0.9941348467724344