In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data={
    "age":[25,30,35,40,45,50],
    "work exp":[2,5,8,12,16,20]           
}
df=pd.DataFrame(data)

In [4]:
df.head()

   age  work exp
0   25         2
1   30         5
2   35         8
3   40        12
4   45        16

In [5]:
#slope=n*sumation of (xy)- sumation of (x)* summation of (y) / n*sumation of (x square)- summationof (x)Ka square

In [6]:
#intercept=  summaation of (y)- slope * sumation of (x) / n

In [7]:
n=len(df)
n

6

In [8]:
nsumxy= n*((df["age"]*df["work exp"]).sum())
nsumxy

16080

In [9]:
sumxsumy=df["age"].sum()*df["work exp"].sum()
sumxsumy

14175

In [10]:
nsumx2=n*(df["age"]**2).sum()
nsumx2

53250

In [11]:
sumx2= (df["age"].sum())**2
sumx2

50625

In [12]:
slope=(nsumxy-sumxsumy)/(nsumx2-sumx2)
slope

0.7257142857142858

In [13]:
intercept=(df["work exp"].sum()-slope*df["age"].sum())/(n)
intercept

-16.71428571428572

In [14]:
slope=(n*((df["age"]*df["work exp"]).sum())-df["age"].sum()*df["work exp"].sum())/(n*(df["age"]**2).sum()-(df["age"].sum())**2)
slope

0.7257142857142858

In [15]:
intercept=(df["work exp"].sum()-slope*df["age"].sum())/(n)
intercept

-16.71428571428572

In [16]:
data=pd.read_csv("C:\\Users\\sb193\\OneDrive\\Documents\\salay_dataset.csv")

In [17]:
data.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [18]:
n=len(data)
n

30

In [19]:
nsumxy=n*(data["YearsExperience"]*data["Salary"]).sum()
nsumxy

429658830.0

In [20]:
sumxsumy= data["YearsExperience"].sum()*data["Salary"].sum()
sumxsumy

363446346.0

In [21]:
nx2sum=n*(data["YearsExperience"]**2).sum()
nx2sum

32415.0

In [22]:
sumx2=(data["YearsExperience"].sum())**2
sumx2

25408.36

In [23]:
slope=(nsumxy-sumxsumy)/(nx2sum-sumx2)
slope

9449.962321455077

In [24]:
intercept=(data["Salary"].sum()-slope*data["YearsExperience"].sum())/n
intercept

25792.200198668685

In [25]:
Y=round((slope*5+intercept),2)
Y

73042.01

In [26]:
nsumxy=n*(data["Salary"]*data["YearsExperience"]).sum()
nsumxy

429658830.0

In [27]:
sumxsumy= data["Salary"].sum()*data["YearsExperience"].sum()
sumxsumy

363446346.0

In [28]:
nx2sum=n*(data["Salary"]**2).sum()
nx2sum

5852659743660

In [29]:
sumx2=(data["Salary"].sum())**2
sumx2

5198810408100

In [30]:
slope=(nsumxy-sumxsumy)/(nx2sum-sumx2)
slope

0.00010126565922605279

In [31]:
intercept=(data["YearsExperience"].sum()-slope*data["Salary"].sum())/n
intercept

-2.383160564824357

In [32]:
X=round((slope*50000+intercept),2)
X

2.68