In [1]:
import pandas as pd
import numpy as np

In [17]:
pd.DataFrame ()

Empty DataFrame
Columns: []
Index: []

In [8]:
data = {'Age':[25,30,35,40,45,50],
        'Work Exp':[2,5,8,12,16,20]}
df = pd.DataFrame(data)

In [9]:
print(df)

   Age  Work Exp
0   25         2
1   30         5
2   35         8
3   40        12
4   45        16
5   50        20

In [13]:
df['Age']*df['Work Exp'].sum()

0    1575
1    1890
2    2205
3    2520
4    2835
5    3150
Name: Age, dtype: int64

In [14]:
(df['Age']**2).sum()

8875

In [16]:
(df['Age'].sum())**2

50625

In [30]:
submission_Age = df['Age'].sum()
submission_Work_Exp = df['Work Exp'].sum()

In [32]:
print(submission_Age, 
submission_Work_Exp)

225 63

In [4]:
import pandas as pd 
import numpy as np

In [5]:
df = pd.read_csv("Salary_Data.csv")

In [6]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [9]:
pd.DataFrame(df)

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [12]:
n=len(df)
n

30

In [16]:
sum_xy = (df["YearsExperience"]*df["Salary"]).sum()
sum_xy

14321961.0

In [17]:
sum_x = (df["YearsExperience"]).sum()
sum_x

159.4

In [19]:
sum_y = (df["Salary"]).sum()
sum_y

2280090.0

In [20]:
sum_x2 = (df["YearsExperience"]**2).sum()
sum_x2

1080.5

In [21]:
sum_x22 = (df["YearsExperience"].sum())**2
sum_x22

25408.36

In [22]:
slope = (n*sum_xy-sum_x*sum_y)/(n*sum_x2-sum_x22)
slope

9449.962321455077

In [23]:
intercept = (sum_y-slope*sum_x)/n
intercept

25792.200198668685

In [24]:
y = slope*5+intercept
y

73042.01180594407