In [ ]:
#libraries to work with
import pandas as pd        #we use pandas to read our data we want to work with
import numpy as np         #we use  numpy to work with mathematical expressions

In [ ]:
df=pd.read_csv("Pandas.csv")                 #to read the file we inserted  here the file name is fortune but i saved it as pandas so check kr lena ki fortune wali insert kro tum

In [ ]:
# It gives us first five rows of the dataset. If we want more or less you put any number inside the head brackets
df.head()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
0,1,Walmart,2300000,Retailing,General Merchandisers,Bentonville,C. Douglas McMillon,"President, Chief Executive Officer & Director",485873,0.8,13643.0,-7.2,198825
1,2,Berkshire Hathaway,367700,Financials,Insurance: Property and Casualty (Stock),Omaha,Warren E. Buffett,Chairman & Chief Executive Officer,223604,6.1,24074.0,0,620854
2,3,Apple,116000,Technology,"Computers, Office Equipment",Cupertino,Timothy D. Cook,Chief Executive Officer & Director,215639,-7.7,45687.0,-14.4,321686
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,Irving,Darren W. Woods,Chairman & Chief Executive Officer,205004,-16.7,7840.0,-51.5,330314
4,5,McKesson,68000,Wholesalers,Wholesalers: Health Care,San Francisco,John H. Hammergren,"Chairman, President & Chief Executive Officer",192487,6.2,2258.0,53,56563

In [ ]:
#It gives last five rows of the dataset. If you want more so you can do how much you wanted to see.
df.tail()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
495,496,Michaels Cos.,31000,Retailing,Specialty Retailers: Other,Irving,Carl S. Rubin,Chairman & Chief Executive Officer,5197,5.8,378.2,4.2,2148
496,497,Toll Brothers,4200,Engineering & Construction,Homebuilders,Horsham,Douglas C. Yearley Jr.,Chief Executive Officer & Director,5170,23.9,382.1,5.2,9737
497,498,Yahoo,8500,Technology,Internet Services and Retailing,Sunnyvale,Marissa A. Mayer,"President, Chief Executive Officer & Director",5169,4.0,-214.3,5.2,48083
498,499,Vistra Energy,4431,Energy,Energy,Dallas,Curtis A. Morgan,"President, Chief Executive Officer & Director",5164,4.0,-214.3,5.2,15167
499,500,ABM Industries,110000,Business Services,Diversified Outsourcing Services,New York,Scott B. Salmirs,"President, Chief Executive Officer & Director",5145,-2.8,57.2,-25,2281

In [ ]:
# To find rows and columns
df.shape

(500, 13)

In [ ]:
# For the information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        500 non-null    int64
 1   Title       500 non-null    object
 2   Employees   500 non-null    int64
 3   Sector      500 non-null    object
 4   Industry    500 non-null    object
 5   Hqcity      500 non-null    object
 6   Ceo         500 non-null    object
 7   Ceo-title   500 non-null    object
 8   Revenues    500 non-null    int64
 9   Revchange   500 non-null    float64
 10  Profits     500 non-null    float64
 11  Prftchange  500 non-null    object
 12  Assets      500 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 50.9+ KB

In [ ]:
#before using any column we are assiging them to a variable so it will be easy to work with instead of calling every column
sub_df= df[["Rank","Title","Employees","Sector","Revenues","Profits"]]

In [ ]:
sub_df.head(3)    #this will show only 3 rows

   Rank               Title  Employees      Sector  Revenues  Profits
0     1             Walmart    2300000   Retailing    485873  13643.0
1     2  Berkshire Hathaway     367700  Financials    223604  24074.0
2     3               Apple     116000  Technology    215639  45687.0

In [ ]:
sub_df.describe()        #this will describe our data its count,mean,std,min,max etc.

             Rank     Employees       Revenues       Profits
count  500.000000  5.000000e+02     500.000000    500.000000
mean   250.492000  5.635013e+04   24111.748000   1779.479800
std    144.477366  1.234520e+05   38337.353337   3937.558721
min      1.000000  8.300000e+01    5145.000000  -6177.000000
25%    125.750000  1.190000e+04    7245.000000    235.725000
50%    250.500000  2.500000e+04   11384.000000    683.600000
75%    375.250000  5.682525e+04   22605.250000   1770.775000
max    500.000000  2.300000e+06  485873.000000  45687.000000

In [ ]:
mean_revenue= sub_df["Revenues"].mean()           #to find mean of any column
mean_revenue

24111.748

In [ ]:
mode_revenue= sub_df["Revenues"].mode()           #to find mode of any column
mode_revenue

0    9061
Name: Revenues, dtype: int64

In [ ]:
median_revenue= sub_df["Revenues"].median()       #to find median of any column
median_revenue

11384.0

In [ ]:
C_revenue= sub_df["Revenues"].min()              #to find min value in the column
C_revenue

5145

In [ ]:
W_revenue= sub_df["Revenues"].max()               #to find the max value in the column
W_revenue

485873

In [ ]:
range= W_revenue-C_revenue                      #Find range while subtracting max by min value
range

480728

In [ ]:
range=sub_df["Revenues"].max()-sub_df["Revenues"].min()
range

480728

In [ ]:
st=sub_df["Revenues"].std()               #find standard deviation of any column
st

38337.35333653324

In [ ]:
sd=sub_df["Revenues"].var()           #to find the variance of column
sd

1469752660.8501961

#IQR

In [ ]:
#Its like quartile but in python we call it quantile
#p75=Q3 and P25=Q1
q1 = sub_df["Revenues"].quantile(0.25)
q1

7245.0

In [ ]:
q3 = sub_df["Revenues"].quantile(0.75)
q3

22605.25

In [ ]:
iqr= q3-q1
iqr

15360.25

In [ ]:
iqr2= sub_df["Revenues"].quantile(0.75)-sub_df["Revenues"].quantile(0.25)                    #Its the iqr
iqr2

15360.25

In [ ]:
skew= sub_df["Revenues"].skew()        #to find skewness
skew

5.480066970305041

In [ ]:
cv= (sub_df["Revenues"].std()/sub_df["Revenues"].mean()) *100           #to find cv
cv

158.99864803055027

In [ ]:
cv2= (sub_df["Profits"].std()/sub_df["Profits"].mean()) *100
cv2

221.2758313353473

In [ ]:
sub_df.sample(frac =0.0020)            #sample means any randome data from the dataset to use instead of using whole data

     Rank                  Title  Employees Sector  Revenues  Profits
387   388  R.R. Donnelley & Sons      44360  Media      6896   -495.9

In [ ]:
df_sample=sub_df.sample(frac =0.70, random_state =0)
mean_2= df_sample["Revenues"].mean()
print(mean_2)

24044.977142857144

# Questions

In [ ]:
#Select 70 % random rows from the dataset and condider this as a sample. calculate mean of this sample with respect to profit column. repeat the process 5 times
# Comute the difference between actual mean and each of the sample mean seperately,tabulate your observations.

In [ ]:
 sub_df.sample(frac =0.070)

,Rank,Title,Employees,Sector,Revenues,Profits
403,403,JetBlue Airways,15986,Transportation,6632,759.0
300,301,Fidelity National Information Services,55000,Business Services,9241,568.0
125,126,Aflac,10212,Financials,22559,2659.0
375,376,Kindred Healthcare,76650,Health Care,7227,-664.2
227,228,Arconic,41500,Aerospace & Defense,12394,-941.0
7,8,General Motors,225000,Motor Vehicles & Parts,166380,9427.0
194,195,WellCare Health Plans,7400,Health Care,14237,242.1
179,180,Genuine Parts,40000,Wholesalers,15340,687.2
80,81,Oracle,136000,Technology,37047,8901.0
499,500,ABM Industries,110000,Business Services,5145,57.2
47,48,Prudential Financial,49739,Financials,58779,4368.0
319,320,Reliance Steel & Aluminum,14500,Materials,8613,304.3
232,233,Bed Bath & Beyond,62000,Retailing,12104,841.5
169,170,NextEra Energy,14700,Energy,16155,2912.0
228,229,NRG Energy,8763,Energy,12351,-774.0
304,305,BorgWarner,27000,Motor Vehicles & Parts,9071,118.5
17,18,Kroger,443000,Food & Drug Stores,115337,1975.0
71,72,Best Buy,125000,Retailing,39403,1228.0
209,210,Marsh & McLennan,60000,Financials,13211,1768.0
65,66,Centene,30500,Health Care,40721,562.0
253,254,Celgene,7132,Health Care,11229,1999.2
308,309,Eastman Chemical,14000,Chemicals,9008,854.0
128,129,AutoNation,26000,Retailing,21609,430.5
66,67,American Airlines Group,122300,Transportation,40180,2676.0
346,347,Steel Dynamics,7695,Materials,7777,382.1
269,270,AutoZone,66780,Retailing,10636,1241.0
279,280,Sempra Energy,16575,Energy,10183,1370.0
22,23,Home Depot,406000,Retailing,94595,7957.0
340,341,Weyerhaeuser,10400,Materials,7902,1027.0
202,203,Office Depot,38000,Retailing,13585,529.0
181,182,Colgate-Palmolive,36700,Household Products,15195,2441.0
362,363,Harris,21000,Technology,7527,324.0
172,173,Halliburton,50000,Energy,15887,-5763.0
439,440,Lam Research,7500,Technology,5886,914.0
16,17,Walgreens Boots Alliance,300000,Food & Drug Stores,117351,4173.0

In [ ]:
mean_profit= sub_df["Profits"].mean()
mean_profit

1779.4797999999998

In [ ]:
sam1=  sub_df.sample(frac =0.070)
mean_pro2= sam1["Profits"].mean()
print(mean_pro2)

3180.214285714286

In [ ]:
 df_sam3= sub_df.sample(frac =0.070)
 mean_pro3= df_sam3["Profits"].mean()
 print(mean_pro3)

1673.1228571428574

In [ ]:
 df_sam4= sub_df.sample(frac =0.070)
 mean_pro4= df_sam4["Profits"].mean()
 print(mean_pro4)

2033.3571428571424

In [ ]:
 df_sam5= sub_df.sample(frac =0.070)
 mean_pro5= df_sam5["Profits"].mean()
 print(mean_pro5)

2562.462857142857

In [ ]:
 df_sam6= sub_df.sample(frac =0.070)
 mean_pro6= df_sam6["Profits"].mean()
 print(mean_pro6)

1501.2314285714285

In [ ]:
diff_1 =(mean_profit - mean_pro2)
print(diff_1)

-1400.734485714286

In [ ]:
diff_2 =(mean_profit - mean_pro3)
print(diff_2)

106.35694285714249

In [ ]:
diff_3 =(mean_profit - mean_pro4)
print(diff_3)

-253.8773428571426

In [ ]:
diff_4 =(mean_profit - mean_pro5)
print(diff_4)

-782.9830571428572

In [ ]:
diff_5 =(mean_profit - mean_pro6)
print(diff_5)

278.2483714285713

# ha bhai

In [ ]:
iqr_new= sub_df["Revenues"].quantile(0.75)-sub_df["Revenues"].quantile(0.25)
iqr_new

15360.25

In [ ]:
upper_limit= sub_df["Revenues"].quantile(0.75)+1.5*iqr_new
upper_limit

45645.625

In [ ]:
lower_limit=sub_df["Revenues"].quantile(0.25)-1.5*iqr_new
lower_limit

-15795.375

In [ ]:
### outliers are those values which reside outside of the lower and upper limits boundries
outliers = sub_df[(sub_df['Revenues']>upper_limit) |
                  (sub_df['Revenues']<lower_limit)]
print("Outliers Rows")
print(outliers)

Outliers Rows
    Rank                       Title  Employees          Sector  Revenues  \
0      1                     Walmart    2300000       Retailing    485873
1      2          Berkshire Hathaway     367700      Financials    223604
2      3                       Apple     116000      Technology    215639
3      4                 Exxon Mobil      72700          Energy    205004
4      5                    McKesson      68000     Wholesalers    192487
..   ...                         ...        ...             ...       ...
57    58                       FedEx     335767  Transportation     50365
58    59  Hewlett Packard Enterprise     195000      Technology     50123
59    60               Cisco Systems      73700      Technology     49247
60    61                          HP      49000      Technology     48238
61    62                Dow Chemical      56000       Chemicals     48158

    Profits
0   13643.0
1   24074.0
2   45687.0
3    7840.0
4    2258.0
..      ...
57   1820.0
58   3161.0
59  10739.0
60   2496.0
61   4318.0

[62 rows x 6 columns]

In [ ]:
iqr_new2= sub_df["Profits"].quantile(0.75)-sub_df["Profits"].quantile(0.25)
iqr_new2

1535.0500000000002

In [ ]:
upper_limit2= sub_df["Profits"].quantile(0.75)+1.5*iqr_new2
upper_limit2

4073.3500000000004

In [ ]:
lower_limit2=sub_df["Profits"].quantile(0.25)-1.5*iqr_new2
lower_limit2

-2066.8500000000004

In [ ]:
outliers2 = sub_df[(sub_df['Profits']>upper_limit2) |
                  (sub_df['Profits']<lower_limit2)]
print("Outliers Rows")
print(outliers2)

Outliers Rows
     Rank                   Title  Employees       Sector  Revenues  Profits
0       1                 Walmart    2300000    Retailing    485873  13643.0
1       2      Berkshire Hathaway     367700   Financials    223604  24074.0
2       3                   Apple     116000   Technology    215639  45687.0
3       4             Exxon Mobil      72700       Energy    205004   7840.0
5       6      UnitedHealth Group     230000  Health Care    184840   7017.0
..    ...                     ...        ...          ...       ...      ...
284   285            Baker Hughes      33000       Energy      9841  -2738.0
309   310                    eBay      12600   Technology      8979   7266.0
342   343       Chesapeake Energy       3300       Energy      7872  -4401.0
343   344      Anadarko Petroleum       4500       Energy      7869  -3071.0
374   375  National Oilwell Varco      36384       Energy      7251  -2412.0

[68 rows x 6 columns]

# **Karl pearson(r)&Spearman(R)**

In [ ]:
data={
    "height":[150,160,165,170,175,180,185],
    "weight":[50,55,60,65,70,75,80]            #sumition of xy/under root sumition of x2 *sumition of y2
}
df=pd.DataFrame(data)

In [ ]:
df.head()

   height  weight
0     150      50
1     160      55
2     165      60
3     170      65
4     175      70

In [ ]:
correlation=df["height"].corr(df["weight"])
print(correlation)                                        #IN CORRELATION IT BY DEFAULT TAKE KALESPEARSON METHOD

0.9922858194799439

In [ ]:
correlation=df["height"].corr(df["weight"],method="spearman")
print(correlation)                                            #for using spearman function we have to write method=spearman so the system will get that we want to use spearman formula

1.0

Find spearman(R)data

In [ ]:
df["rank1"]= df["height"].rank()
df["rank2"]= df["weight"].rank()
df.head()

   height  weight  rank1  rank2
0     150      50    1.0    1.0
1     160      55    2.0    2.0
2     165      60    3.0    3.0
3     170      65    4.0    4.0
4     175      70    5.0    5.0

In [ ]:
df["D"]=df["rank1"]-df["rank2"]

In [ ]:
df["D2"]=df["D"]**2
df.head()

   height  weight  rank1  rank2    D   D2
0     150      50    1.0    1.0  0.0  0.0
1     160      55    2.0    2.0  0.0  0.0
2     165      60    3.0    3.0  0.0  0.0
3     170      65    4.0    4.0  0.0  0.0
4     175      70    5.0    5.0  0.0  0.0

In [ ]:
sum_d2=df["D2"].sum()
sum_d2

0.0

In [ ]:
n=len(df)
n

7

In [ ]:
R=1-((6*sum_d2)/((n**3)-n))
R

1.0

Find Karl pearson of data

In [ ]:
data={
    "Height":[150,160,165,170,175,180,185,190],
    "Weight":[50,55,60,65,70,75,80,85]
}
df=pd.DataFrame(data)

In [ ]:
mean_height=df["Height"].sum()
mean_height

1375

In [ ]:
mean_weight=df["Weight"].sum()
mean_weight

540

In [ ]:
df["x-xmean"]=(df["Height"]-mean_height)
df["x-xmean"]

0   -1225
1   -1215
2   -1210
3   -1205
4   -1200
5   -1195
6   -1190
7   -1185
Name: x-xmean, dtype: int64

In [ ]:
df["y-ymean"]=(df["Weight"]-mean_weight)
df["y-ymean"]

0   -490
1   -485
2   -480
3   -475
4   -470
5   -465
6   -460
7   -455
Name: y-ymean, dtype: int64

In [ ]:
df["xy"]=df["x-xmean"]*df["y-ymean"]
df["xy"]

0    600250
1    589275
2    580800
3    572375
4    564000
5    555675
6    547400
7    539175
Name: xy, dtype: int64

In [ ]:
df["x2"]=df["x-xmean"]**2
df["x2"]

0    1500625
1    1476225
2    1464100
3    1452025
4    1440000
5    1428025
6    1416100
7    1404225
Name: x2, dtype: int64

In [ ]:
df["y2"]=df["y-ymean"]**2
df["y2"]

0    240100
1    235225
2    230400
3    225625
4    220900
5    216225
6    211600
7    207025
Name: y2, dtype: int64

In [ ]:
sum_x2=df["x2"].sum()
sum_x2

11581325

In [ ]:
sum_y2=df["y2"].sum()
sum_y2

1787100

In [ ]:
sum_xy=df["xy"].sum()
sum_xy

4548950

In [ ]:
r=sum_xy/sum_x2*sum_y2
r

701942.8731168498

In [ ]:
r_sqrt=r**(1/2)
r_sqrt

837.8203107569366