In [145]:
import numpy as np
import pandas as pd

In [146]:
test={"g":["m","m","n","m","n","m"],
     "result":["pass","fail","pass","pass","fail","pass"]}
df=pd.DataFrame(test)

In [147]:
df.head()

   g result
0  m   pass
1  m   fail
2  n   pass
3  m   pass
4  n   fail

In [148]:
x_df=pd.crosstab(df["g"],df["result"])
x_df

result  fail  pass
g
m          1     3
n          1     1

In [149]:
from scipy.stats import chi2_contingency
chi2,p,dof,expectancy=chi2_contingency(x_df)
print("Value of Chi2 is:",chi2)
print("Value of p is:",p)
print("Value of dof :",dof)
print("Value of expectancy",expectancy)

if p>0.05:
  print("There is association between gender and result(Fail to reject H0)")
else:
  print("There is no association between gender and result(reject H0)")

Value of Chi2 is: 0.0
Value of p is: 1.0
Value of dof : 1
Value of expectancy [[1.33333333 2.66666667]
 [0.66666667 1.33333333]]
There is association between gender and result(Fail to reject H0)

In [150]:
test={"x":["m","m","n","m","n","m"],
     "result":["pass","fail","pass","pass","fail","pass"]}
df=pd.DataFrame(test)

In [151]:
x=[1,2,3,4,5,6,7,8,9,102,112,125,133,140,153,16,17,18,19,20]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 102, 112, 125, 133, 140, 153, 16, 17, 18, 19, 20]

# Ttest-1sample

In [152]:
assumed_mean = 44
from scipy.stats import ttest_1samp

In [153]:
stat,pvalue=ttest_1samp(x,assumed_mean)

In [154]:
print(assumed_mean)
print(stat)
print(pvalue)

44
0.07913116177544958
0.9377557850322523

In [155]:
if pvalue>0.05:
    print("Accept H0")
else:
    print("Reject H0")

Accept H0

# Ttest-2sample(independent)

In [156]:
data1=[1,21,23,422,5,6,7,8,9,102,112,125,133,140,153,16,17,18,19,20]

In [157]:
sum_y=sum(data1)

In [158]:
len_y=len(data1)

In [159]:
mean_y=sum_y/len_y
mean_y

67.85

In [160]:
data2=[1,2,3,4,5,6,7,8,9,102,112,125,133,140,153,16,17,18,19,20]
print(data2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 102, 112, 125, 133, 140, 153, 16, 17, 18, 19, 20]

In [161]:
sum_x=sum(data2)
len_x=len(data2)
print(sum_x)
print(len_x)

900
20

In [162]:
mean_x=sum_x/len_x
mean_x

45.0

In [163]:
from scipy.stats import ttest_ind
stat,pvalue=ttest_ind(data1,data2)
print(stat)
print(pvalue)

0.8929587331907853
0.3774996444870734

In [164]:
if pvalue>0.05:
    print("The mean of both data is different")
else:
    print("The mean of both the data is same")

The mean of both data is different

# Ttest-dependent(relative)

In [198]:
from scipy.stats import ttest_rel

mark1=[20,20,20,16,17]
mark2=[20,20,20,20,20]
pvalue=ttest_rel(mark1,mark2)
print(pvalue[1])

0.18356686005527661

In [204]:
if pvalue[1]>0.05:
    print("The data is different")
else:
    print("The data is same")

The data is different